/* ======= VARIABLES ======= */
:root {
  --color-bg: #282927;
  --color-primary: #b91127;
  --color-black: #131313;
  --color-light: #E6E6E6;
}

/* ======= RESETEO ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: var(--color-light);
  line-height: 1.5;
}

h2 {
  text-align: center;
  color: var(--color-primary);
}


/* ======= NAVBAR ======= */
header {
  height: 100px;
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  height: 100px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

@media (max-width: 768px) {
   .navbar .container{
    justify-content: space-between;
   }
}

.logo img{
  height: 80px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.secciones{
  display: flex;
  gap: 1.5rem;
}

.menu-toggle{
  display: none;
}

@media (max-width: 768px) {
   .secciones{
    display: none;
   }
   .menu-toggle{
    display: block;
   }
   .logo img{
    height: 65px;
   }
}


.iniciar-sesion-icono{
  width: 35px;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-light);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--color-primary);
}

/* ======= INFO HEAD ======= */
.info-head {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  overflow: hidden; /* Oculta lo que se sale */
  height: 40px; /* Mantiene altura fija */
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
}

.marquee span {
  padding-right: 50px; /* Espacio entre repeticiones */
}

.marquee span i{
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 769px) {
  .marquee {
    animation: none; /* En desktop no hay scroll */
    justify-content: center;
    width: 100%;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




/* ======= FIN INFO HEAD ======= */

/* ======= CARRUSEL ======= */
#carrusel {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  animation: slide 12s infinite;
}

.carousel-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

/* ======= CATÁLOGO ======= */
#catalogo-inicio {
  padding: 3rem 5rem;
  background-color: white;
}

#catalogo-inicio h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filtros select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease;
  background-color: var(--color-black);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.card.from-left {
  transform: translateX(-50px);
}

/* Cuando se muestran */
.card.show {
  opacity: 1;
  transform: translateX(0);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  width: 100%;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-body h3 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: var(--color-light);
}

.card-body p {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body hr {
  margin: 1rem 0;
  border: none;
  height: 0.1px;
  background-color: var(--color-primary);
}

.card:hover{
  cursor: pointer;
}

.card-info {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-bottom: 10px;
}

.card-info p {
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-light);
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #a80f22;
}

.ver-mas{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* fin catalogo */

/* Animacion izquierda y derecha */


/* Inicio responsive catalogo */
@media (max-width: 768px) {
   #catalogo-inicio {
    padding: 3rem 6rem ;
}
}


/*Boton de wpp*/

#btnWpp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    border: none;
    color: white;
    background-color: #25D366;
    height: 55px;
    width: 55px;
    font-size: 30px;
    border-radius: 100%;
}

#btnWpp i{
  margin-top: 1px;
  font-size: 35px !important;
}

#btnWpp:hover {
    cursor: pointer;
    background-color: #128C7E;
    transition: all 300ms;
}


/* ======= CONTACTO ======= */
.contacto {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  width: 90%;
  background-color: var(--color-bg);
  padding: 40px;
  border-radius: 12px;
  max-width: 1000px;
  margin: auto;
  color: var(--color-light);
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  margin-bottom: 50px;
}

/* Animación para la sección de contacto */
.contacto, .formulario-container {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease;
}

.contacto.show, .formulario-container.show {
  opacity: 1;
  transform: translateY(0);
}


@media (min-width: 768px) {
   .contacto{
    display: flex;
   }
}
.contacto-container {
  flex: 1;
}

.contacto-container h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--color-light);
} 

.contacto-container p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-light);
}

.contacto-container img {
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
}

.formulario-container{
  flex: 1;
  
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo__label {
  font-weight: bold;
  margin-bottom: 6px;
  color: var(--color-light);
  font-size: 14px;
}

.campo__field,
.campo__label--textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--color-light);
  color: var(--color-bg);
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.campo__field:focus,
.campo__label--textarea:focus {
  border: 1px solid var(--color-primary);
  background-color: var(--color-light);
}

.campo__label--textarea {
  min-height: 100px;
  resize: vertical;
}

.boton {
  padding: 12px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #d1192f;
  transform: translateY(-2px);
}

.boton:active {
  transform: translateY(0);
}


/* ======= FOOTER ======= */
.footer {
    background-color: var(--color-black);
    color: white;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    gap: 30px;
    padding: 1rem;

    justify-items: center; /* Centra cada columna */
    text-align: center;    /* Centra el texto dentro */
}


.footer-section {
    /* flex: 1 1 250px; */
    text-align: center;
    width: 90%;
}

.logo_footer img{
    width: 150px;
    height: auto;
}

.footer-section h3 {
    color: var(--color-primary);
    margin-bottom: 15px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-section i {
    margin-right: 8px;
    color: white;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-primary) !important;
}

.ml-logo {
    margin-top: 10px;
    width: 120px;
}

.map-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.derechos {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  font-size: 14px;
  padding: 10px;
  background-color: var(--color-bg);
}


/* Responsive footer */
@media (max-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        flex: none;
        width: 100%;
    }
}

.dividir_footer{
  text-align: center;
}


/* servicios */
#contenedor-servicios {
  background-color: white !important;
  padding: 60px 20px;
  text-align: center;
}

#title-servicios h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #b91127;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.servicios .item {
  background: white !important;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
  padding: 30px;
}

.servicios .item svg {
  margin-bottom: 15px;
}

.servicios .item h3 {
  margin: 10px 0;
  font-size: 1.3rem;
  color: #222;
}

.servicios .item p {
  font-size: 0.95rem;
  color: #555;
}

/* Estados animados */
.item.show {
  opacity: 1;
  transform: translateY(0);
}

.item[data-anim="left"] {
  transform: translateX(-100px);
}

.item[data-anim="left"].show {
  transform: translateX(0);
}

.item[data-anim="right"] {
  transform: translateX(00px);
}

.item[data-anim="right"].show {
  transform: translateX(0);
}

/* RESPONSIVE SERVICIOS */

/* Tablets: 2 columnas */
@media (max-width: 992px) {
  .servicios {
    background-color: white !important;
    gap: 20px;
  }
  .servicios .item {
    width: 45%;
  }
}

/* Celulares: 1 columna */
@media (max-width: 600px) {
  #contenedor-servicios {
    background-color: white !important;
  }
  #title-servicios h2 {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }

  .servicios {
    background-color: white !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .servicios .item {
    width: 80%;
    padding: 20px;
  }

  .servicios .item svg {
    width: 100px;
    height: 100px;
  }

  .servicios .item h3 {
    font-size: 1.2rem;
  }

  .servicios .item p {
    font-size: 0.9rem;
  }
}

/* FIN RESPONSIVE SERVICIOS */

